.biography {
  height: 35px;
  background-color: sandybrown;
  word-spacing: normal;
  text-align: center;
}
h1 {
  font: 100px;
  font-size: xx-large;
  font-display:flex;
}
body {
  background-color: slategrey;
}

p {
  font-size:xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.snakeImage1{
  height: 220px;
  width: 400px; 
} 






