in .introduction {
  height: 35px;
  background-color: sandybrown;
  word-spacing: normal;
  text-align: center;
 }
h1 {
  font: 100px;
  font-size: xx-large;
  font-display:flex;
   background-color: burlywood;
  text-align: center;
  
  
}
body {
  background-color: slategrey;
}

p {
  font-size:xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

.snakeImage1{
  height: 220px;
  width:200px; 
  float: left;
  margin-right: 20px;
}

.biography {
  font-size:xx-large;
  text-align: center;
}

.About{
  font-size:x-large;
  display: flex;
  flex-direction: column;
  gap: 10px; ;
}


.type1 {
  height: 215px;
  float:left;
  margin-right:20px ;
  font-style: normal;
  
}
.description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-style:Arial;sans-serif ;
}
.div {
  display: grid;
  grid-template-columns: subgrid;
}

.type2{
  height: 225px;
  float: right;
  width:260px;
}
.identification{
  font-family: Arial, Helvetica, sans-serif;
}